In [4]:
import pyodbc
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
from Query import Query
from configuration import Configuration
query = Query.getQuery('query_1_2')
conn = pyodbc.connect(Configuration.getConfigValue('database_connection'))
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_columns', 0)
query_result = pd.read_sql_query(query,conn)
dataframes = pd.DataFrame(query_result)
if len(dataframes) == 0:
     display("Não há dados para analisar")
else:
    plt.show()
    display("Quantidade de desenvolvedores com code smell fechado: " + str(len(dataframes)))
    display("Quantidade de code smell fechado: " + str(dataframes["TOTAL"].sum()))
    display(dataframes)

'Quantidade de desenvolvedores com code smell fechado: 92'

'Quantidade de code smell fechado: 62052'

    ID_DEVELOPER  TOTAL
0            110  14040
1             42   7874
2             12   6863
3             13   5307
4            112   4945
5             83   4453
6            100   1960
7             81   1739
8            113   1448
9             24   1401
10           114   1097
11            17   1072
12            26    926
13            90    919
14           109    713
15            89    599
16            78    536
17            62    507
18            37    506
19            20    446
20            54    442
21           120    404
22             2    305
23           108    303
24            36    301
25            45    296
26            66    244
27            29    244
28            40    203
29            25    182
30            30    137
31            76    129
32            65    118
33            97    116
34            10    113
35             7     93
36             4     81
37            43     62
38            28     61
39           111     52
40           104     51
41           122     49
42            58     49
43            53     47
44            84     47
45            93     45
46           101     40
47            38     39
48            48     36
49            72     31
50            21     29
51            95     26
52            32     25
53            68     24
54            47     24
55            99     23
56           121     21
57           115     20
58            59     19
59             1     19
60           106     17
61           116     16
62            27     14
63            52     14
64            71     12
65            34      9
66            69      8
67            41      8
68            91      7
69           102      4
70           118      4
71            92      3
72            70      3
73            33      3
74            19      3
75            18      2
76             8      2
77            15      2
78            16      2
79            86      2
80            80      2
81            55      2
82            64      2
83           119      2
84            96      1
85           117      1
86            75      1
87            14      1
88            22      1
89            23      1
90             5      1
91             3      1